<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form name="Registration" action="" method="post">
    <h1> Регистрация нового пользователя </h1>
    <p> Введите имя </p>
    <input type='text' name="login">
    <p> Введите email </p>
    <input type='text' name="email">
    <p> Введите пароль </p>
    <input type='text' name="password">
    <p> Повторите пароль </p>
    <input type='text' name="repeat password">
    <input type="submit">


</form>


</body>
</html>