<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Resume </title>
</head>
<body>
<form name="Resume_form" action="" method="post">
    <h1> Ваше резюме </h1>
    <p> Введите имя </p>
    <input type="text" name="fname">
    <p> Введите фамилию </p>
    <input type="text" name="lname">
    <p> Введите возраст </p>
    <input type="text" name="age">
    <p> Введите пол </p>
    <input type="text" name="sex">
    <p> Сфера деятельности </p>
    <input type="text" name="job">
    <input type="submit">

    







</form>


</body>
</html>