<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Resume </title>
</head>
<body>
<form name="Resume_form" action="handler.php" method="post">
    <h1> Ваше резюме </h1>
    <p> Введите имя </p>
    <p><input type=search placeholder="Нажмите для ввода" name="fname"></p>
    <p> Введите фамилию </p>
    <p><input type=search placeholder="Нажмите для ввода" name="lname"></p>
    <p> Введите возраст </p>
    <p><input type=search placeholder="Нажмите для ввода" name="age"></p>
    <p> Введите пол </p>
    <p><input type=search placeholder="Нажмите для ввода" name="sex"></p>
    <p> Сфера деятельности </p>
    <p><input type=search placeholder="Нажмите для ввода" name="job"><input type="submit"></p>
</form>


</body>
</html>